.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #d76a6a;
    width: 310px;
    height: 170px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    color: black;
}